---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Variables
$base-font-family:  Helvetica, Arial, sans-serif;
$base-line-height:  1.5;
$spacing-unit:      30px;
$base-font-size:    16px;
$small-font-size:   $base-font-size * 0.875;


$brand-color:       #3e6990; // old cyan #2a7ae2;
$base-color:        #474350; // light grey tinted
$bright-color:      #dcedff; // icey white
$offset-color:      #957186; // soft red
// 1 more?

$brand-highlight:   lighten($brand-color, 5%); // og #8ea4d2
$offset-highlight:  lighten($offset-color, 10%);
$highlight-color:   #957186; //old green #449e6a; (todo remove - use offset)


$text-color:        #111;
$grey-color:        #828282;
$black-color:       #111111;
$white-color:       #fdfdfd;
$white-highlight:   lighten($white-color, 20%);
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 35%);



$on-palm:           600px;
$on-laptop:         800px;

$background-image:  url({{ site.data.layout.documentBackgroundImage }});
$header-background: url({{ site.data.layout.headerBackgroundImage }});
$album-image:       url({{ site.data.layout.albumOfTheWeekImage }});



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "header",
    "content",
    "footer",
    "post",
    "syntax-highlighting",
    "navbar",
    "soundplayer"
;



// Fonts
@font-face {
    font-family: 'title-font';
    src: url({{ site.data.layout.titleFont }}) format("opentype");
}

@font-face {
    font-family: 'navigation-font';
    src: url({{ site.data.layout.navigationFont }}) format("opentype");
}

@font-face {
    font-family: 'folks';
    src: url({{ site.data.layout.folksFont }}) format ("opentype");
}

@font-face {
    font-family: 'dosis';
    src: url('/assets/fonts/dosisNormal.otf') format ("opentype");
}