/**
 * Page content
 */

.page-content {
    padding-top: 90px;
    height: 2000px; // REMOVE
    margin: 0 auto;
    overflow: hidden;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    position: relative;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.home {
    //margin-top: 100px;
}

.wrapper{
    background-color: white;
    height: 100%;
}

/*************************************************/