/**
 * Site header
 */

.site-header {
    max-height: 80px;
    margin-bottom: 80px;
    top: 0;

    // Positioning fixed
    position: fixed;
    width: 100%;
    display: inline-block;
    
    // Shadowing (3rd number is shadow size)
    box-shadow: inset 0 -10px 8px -10px black ; //$brand-color or white?
    
    // Order begins at 5 for header
    z-index: 5;
    
    // Handles opacity on the background image, without impacting children
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-image: $header-background;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;   
    }
}

.header-wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    max-width: 1150px;
    max-height: 90px;
    margin-right: auto;
    position: relative;
}

.header-left {
    max-height: 80px;
    float: left;
}

.header-right {
    float: right;
    max-height: 80px;
}

.page-title {
    font-family: 'title-font', sans-serif; //'title-font', 
    font-size: 55px;
    font-style: italic;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    
    position: relative;
    color: $grey-color-light;
    text-decoration: none;

    
    /** 
     * Handling hovers (box shadow animation) 
    **/
    &:hover {
        color: $white-color;
        opacity: 1;
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 400%; //310 (width of the underline) *fix to relative
        height: 3px;
        bottom: 20px;
        left: 0;
        background-color: $brand-color;
        visibility: visible;
        
        // Uncomment to add animation
//        -webkit-transform: scaleX(0);
//        transform: scaleX(0);
//        -webkit-transition: all 0.3s ease-in-out 0s;
//        transition: all 0.3s ease-in-out 0s;
    }
    
    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); 
    }

    &:after {
        content: "\0000a0"; // Fixing italic color change glitch
    }
}

.twitter {
    font-family: cursive;
    font-style: italic;
    font-size: 16px;
    color: $offset-color;
    margin-top: 2.65em;
    margin-left: -3px;
    
    display: inline-block;
    
    &:hover {
        color: $offset-highlight;
    }
}


