/**
 * Site header
 */

.site-header {
    min-height: 60px;
    max-height: 90px;

    // Positioning fixed
    position: fixed;
    width: 100%;
    display: inline-block;

    // Dark
    background-image: $header-background;
    
    // Shadowing (3rd number is shadow size)
    box-shadow: inset 0 -10px 10px -10px black ; //$brand-color or white?
}

.header-wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    max-width: 1080px;
    max-height: 90px;
    margin-right: auto;
    position: relative;
}

.header-left {
    max-height: 90px;
    float: left;
}

.header-right {
    float: right;
}

.page-title {
    font-family: 'title-font', sans-serif; //'title-font', 
    font-size: 60px;
    font-style: italic;
    float: left;
    //opacity: .9;
    margin-top: 5px;
    margin-left: 5px;
    
    position: relative;
    color: white;
    text-decoration: none;

    
    /** 
     * Handling hovers (box shadow animation) 
    **/
    &:hover {
        color: white;
        opacity: 1;
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 330%; //310 (width of the underline)
        height: 3px;
        bottom: 20px;
        left: 0;
        background-color: $brand-color;
        visibility: visible;
        
        // Uncomment to add animation
//        -webkit-transform: scaleX(0);
//        transform: scaleX(0);
//        -webkit-transition: all 0.3s ease-in-out 0s;
//        transition: all 0.3s ease-in-out 0s;
    }
    
    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); 
    }

    &:after {
        content: "\0000a0"; // Fixing italic color change glitch
    }
}

.twitter {
    font-family: cursive;
    font-style: italic;
    font-size: 18px;
    color: $brand-color;
    opacity: .9;
    margin-top: 2.5em;
    margin-left: -1px;
    
    display: inline-block;
    
    &:hover {
        color: white;
    }
}


