/*************************************************/

.page-content {
    margin-top: 80px;
    width: $content-width;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-image: none;
    background-color: transparent;
    
    box-shadow: 0px 5px 10px 5px black;
}

.post-preview-wrapper {
    height: 480px;
    width: $content-width;
    margin: 0 auto;
    
    background-color: black;
    background-position: 50% 100%; // first is horiz, second is vertical
    background-attachment: relative; // fixed for post pages?
    //background-size: cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
    
    box-shadow: 0 10px 12px -10px black;

    //border-bottom: .25em solid $grey-color-dark;
    
    &:hover {
        
        .post-name {
            transition: 3s all ease;
            color: $white-color; //white?
        }
            
        .post-name:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1); 
        }
            
        .post-name:after {
            content: "\0000a0"; // Fixing italic color change glitch
        }
        
    }
}

.banner {
    font-family: 'dosis';
    text-align: center;
    font-size: 12px;
    width: 25em;
    height: 2em;
    position: fixed;
    background-color: $white-color;
    color: $grey-color-dark;
    margin: 0 auto;
    height: auto;
    
    top: -2%;
    
    position: relative;
    
    border: .25em solid $grey-color-dark;
    border-radius: 1em;
    
    text-shadow: 0px 1px 0px rgba(255,255,255, .4), 0px -1px 0px rgba(0,0,0,.9);
    
    
    &:before {
        content: "";
        display: inline-block; // Vertical centering
    }
    
    h2 {
        margin-bottom: -.25em;
        font-weight: 500;
    }
    
    h3, h4, h5 {
        font-style: italic;
        margin-bottom: 1em;
    }
}

.post-name {
//    background-color: $grey-color-dark;
//    border-radius: 1em;
//    border: .2em solid black;
    
    
    color: transparent;
    font-family: cursive;
    font-size: 22px;
    position: relative;
    font-weight: 1000;
    text-align: center;

    text-shadow: 0px 1px 0px rgba(255,255,255, .4), 0px -1px 0px rgba(0,0,0,.9);
   
    height: auto;
    width: 20em;
    margin: 0 auto;
    top: 5em;
    
    
    .post-name:before {
        content: "";
        position: absolute;
        width: 100%; //310 (width of the underline) *fix to relative
        height: 3px;
        bottom: 20px;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        
        // Uncomment to add animation
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 2s ease-out 0s;
    }
}

.divider {
    // None
}

.aotw {
    @extend .banner;
    
    background-color: $complement-color;
}

.announcement {
    @extend .banner;
    
    background-color: $brand-color;
}

.review {
    @extend .banner;
    
    background-color: $offset-color;
}