/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    position: relative;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.home {
}

.wrapper{
    //background-color: white;
    height: 100%;
    margin-top: 10em;
}

.post-image {
//    border-top: .25em solid $grey-color-dark;
    //border-bottom: .25em solid $grey-color-dark;
    overflow: hidden;
}

.fold {
    transform: translateY(-50%);
    text-align: center;
    width: 4em;
    height: 4em;
    position: relative;
    
    background-color: $offset-color-dark;
    color: $white-color;
    margin: 0 auto;
    z-index: 1;

    padding: 1em;
    
    border-radius: 50%;
    border: .25em solid $grey-color-dark;
}