
<div class="page-content">
    
    {% include homepage.liquid %}

    <div class='post-image'>
        
        <div class='divider'>

        </div>
        
        
        <div class='wrapper'>

            {{ content }}

        </div>
        
    </div>
    
</div>

<script src='/js/album-image.js'></script>