<header class='site-header'>
    
    <div class='header-wrapper'>
    
        
        <div class='header-left'>
        
            <a href='{{ site.data.settings.baseurl }}'><span class='page-title'>{{ site.data.settings.title }}</span></a>
        
            <a href='http://twitter.com/{{ site.data.settings.twitter_username }}'><span class='twitter'>@{{ site.data.settings.twitter_username }}</span></a>
            
        </div>
        
        
        <div class='header-right'>
            
            {% include navbar.liquid %}
        
        </div>

    </div>

    
</header>