
<button class="cn-button" id="cn-button"><span>
    <i class="fa fa-bars fa-2x"></i>
</span></button>

<div class="cn-wrapper" id="cn-wrapper">
    <ul id='nav-options'>
        
        {% for page in site.pages %}
            {% if page.title %}
            
                <li><a href="{{ page.url | prepend: site.baseurl }}"><span class="icon-test">{{ page.title }}</span></a></li>
                
            {% endif %}
        {% endfor %}
        
    </ul>
</div>

<script src="/js/navbar.js"></script>


<!-- Old -->

<!--<li><a href="#"><span class="icon-test">About</span></a></li>-->