<!DOCTYPE html>
<html>

    {% include head.liquid %} 

    <body>
        
        {% include header.liquid %}

        {% include homepage-content.liquid %}

        {% include footer.liquid %}

    </body>

</html>
